[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pandas = "*"
gunicorn = "*"
psycopg2 = "*"
scikit-learn = "*"
category-encoders = "*"
basilica = "*"
spacy = "*"
en-core-web-sm = "*"
en-core-web-md = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz"}

[requires]
python_version = "3.7"
